button{ 
    position:absolute; /*기존 페이지와의 분리를 위해 사용*/
    top:50%;/* 위에서 간격 줌 */
    left:50%; /*왼쪽에서 간격 줌*/
    width:120px; /*버튼 가로 크기*/ 
    height:30px; /*버튼 세로 크기*/
    margin-top:-15px; /*위치를 가운데로 정확하게 보냄*/
    margin-left:-60px; /*위치를 가운데로 정확하게 ㅇㅇ*/
    cursor: pointer; /*그 영역 안에 커서모양을 변경*/
}

.modal{ 
    position:absolute; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,0.8); /*모달창이 실행됐을 때 배경이 어두워지는 코드*/ 
    top:0; /*값을 0으로 설정해서 위치 고정하는 느낌 한번 코드 지워보면 느낌이 확 옴*/
    left:0; 
    display:none;
}
  
.modal_content{
    width:400px; /*모달창 가로 폭*/
    height:200px; /*모달창 세로 폭*/
    background:#fff; /*모달창 배경 색상*/
    border-radius:10px; /*테두리 둥글둥글 */
    position:relative; /*요소 자기 자신을 기준으로 배치함*/
    top:50%; /*위에서 간격*/
    left:50%; /*왼쪽에서 간격*/
    margin-top:-100px; /*부족한 위치설정 잡아주기*/ 
    margin-left:-200px; /*위치잡기*/
    text-align:center; /*텍스트 좌우정렬*/
    box-sizing:border-box; /*모달창 사이즈 조절*/
    padding:74px 0; /*텍스트 상하정렬*/
    cursor:pointer;
}
